body {
  background: white;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 10%;
}

form {
  width: 35rem;
  margin: auto;
  border: gray solid 3px;
}

label, input, select {
  flex: 2 50%;
  flex-grow: 2;
}

input, select {
  margin: 10px 0;
  padding: 15px 18px;
  box-sizing: border-box;
}

input, button {
  max-width: 50%;
  border-radius: 5px;
}

button {
  background-color: darkblue;
  color: white;
  padding: 10px 20px;
  margin: 30px 0;
  font-size: 18px;
}

button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.single, .form-header, .estimated-trip-cost, button {
  flex: 1 100%;
}

.triple, .total-spend, .form-header, .estimated-trip-cost, button, form, h1, h2 {
  text-align: center;
}

.form-header, .estimated-trip-cost, button {
  font-weight: bold;
  margin-bottom: 20px;
}

.login-instructions {
  padding-top: 50px;
  padding-bottom: 25px;
}

.error-message {
  color: red;
}

.dashboard {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.triple {
  flex: 3;
}

.trips-list {
  padding: 3%;
}

.trip-details {
  margin-top: 1%;
}

.create-trip-request {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  align-content: space-around;
  align-self: flex-end;
  justify-content: space-around;
  text-align: left;
  max-width: 100%;
  padding: 1% 10%;
}

.hidden {
  display: none;
}