body {
  background: white;
}

.dashboard {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.single {
  flex: 1 100%;
}

.triple {
  flex: 3;
  text-align: center;
}

.total-spend {
  text-align: center;
}

form {
  width: 35rem;
  margin: auto;
  text-align: center;
  border: gray solid 3px;
}

.create-trip-request {
  align-self: flex-end;
  max-width: 100rem;
}

h1 h2 {
  text-align: center;
}

.login-instructions {
  padding-top: 50px;
  padding-bottom: 25px;
}

input {
  max-width: 50%;
  margin: 10px 0;
  border-radius: 5px;
  padding: 15px 18px;
  box-sizing: border-box;
}

button {
  background-color: darkblue;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 20px 0;
  max-width: 50%;
  font-size: 18px;

}

button:hover {
  opacity: 0.6;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.hidden {
  display: none;
}